@import '~styles.scss';

mat-sidenav{
    width:300px;
    padding: 20px;
    overflow: hidden;
    @extend .fullHeightWidthNav;
    top: 64px;
    position: fixed;
    background-color: $navbar_bg_color !important;
    h1{
        color: $app_name_color;
    }
    a{
        cursor: pointer;
    }
}
mat-sidenav-container{
    @extend .fullHeightWidthNav;
}

.container{
    height: 100%;
}
.link{
    text-decoration: none;
    color: #C9C9C9;
    font-weight: bold;
    
}
.social i{
    color: white;
    margin-left: 10px;
    font-size:25px;
    transition: 0.4s color;
    &:hover{
        color: #888;
    }
}
.active a{ 
    color: $app_name_color;
}