<navbar [closed]="sideNavClosed" (openSideNav)="openSideNav($event, sideLeft)" ></navbar>
<mat-sidenav-container  (backdropClick)="closedSideNav()" >
    <mat-sidenav mode='push' position='start' #sideLeft class="example-sidenav">
        <div fxLayout="column" class="container" fxLayoutAlign="space-between center">
            <div *ngIf="userService.isLoggedIn()">
                <h1> <a (click)="navigate('/',sideLeft)" class="link"  >HostpitalApp</a></h1>
                <p><a (click)="navigate('/dashboard',sideLeft)"  class="link">Dashboard</a></p>
                <p><a  (click)="navigate('/profile',sideLeft)" class="link">Profile</a></p>
                <p style="cursor:pointer"><a (click)="logout(sideLeft)" class="link">Logout</a></p>
            </div>
            <div *ngIf="!userService.isLoggedIn()">
                <h1>HosipitalApp</h1>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100011132926565"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://github.com/dnguyenlearning"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <a href="https://dnportfolio.herokuapp.com/"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div >
    </mat-sidenav>
    <!-- <mat-sidenav  mode='push' position='end' #sideRight class="example-sidenav">
        Jolly good!
    </mat-sidenav> -->
    <div class="example-sidenav-content">
        <flash-messages></flash-messages>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
