<div class="profile" fxLayout="row" fxLayoutAlign="center center">
  <div class="content" fxLayout="row" fxLayoutGap="20px">
    <div class="header">
      <p>Username:</p>
      <p>Full Name:</p>
      <p>Position:</p>
      <p>Email:</p>
      <p>Address:</p>
      <p>Products Added:</p>
      <p>Working Dates:</p>
    </div>
    <div class="infors">
      <p>{{user.username}}</p>
      <p>{{user.name}}</p>
      <p>Doctor</p>
      <p>{{user.email}}</p>
      <p>292/18 XVNT, P.25</p>
      <p>105 Products</p>
      <p>405 Dates</p>
    </div>
  </div>
</div>